.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #25aae1;
    background-image: url('~/src/assets/images/AdminLogin/background1.svg');
    background-repeat: no-repeat;
    background-size: contain;

    .inner {
        .header {
            width: 100%;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(15px);
            display: flex;
            align-items: center;
            padding: 26px 100px;
        }

        .container {
            width: 100%;
            height: calc(100vh - 100px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .content-left {
                min-width: 35%;
                height: 116px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 30px;

                .content-name {
                    font-family: var(--font-fira-code);
                    font-weight: 600;
                    font-size: 6.4rem;
                    margin-top: -30px;
                    background: linear-gradient(180deg, #ffe600 0%, rgba(120, 237, 101, 0.97) 50%, #4285f4 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                .slogan {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 3.2rem;
                    color: rgba(255, 255, 255, 1);
                }
            }

            .content-right {
                height: auto;
                width: 35%;
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                margin-right: 72px;

                .title {
                    display: block;
                    font-weight: 600;
                    font-size: 4rem;
                    line-height: 2.8rem;
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }

                .login-form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;

                    .form-item-input {
                        width: 100%;
                        height: 80px;
                        border: 2px solid #ffffff;
                        border-radius: 89px;
                        padding-left: 38px;
                        display: flex;
                        align-items: center;
                        column-gap: 8px;

                        input {
                            height: 100%;
                            width: 100%;
                            font-size: 3rem;
                            line-height: 3rem;
                            font-weight: 400;
                            outline: none;
                            border: 1px solid transparent;
                            background-color: transparent;
                            border-top-right-radius: 89px;
                            border-bottom-right-radius: 89px;
                            color: #ffffff;
                        }
                        input:-webkit-autofill,
                        input:-webkit-autofill:hover,
                        input:-webkit-autofill:focus,
                        input:-webkit-autofill:active {
                            transition: background-color 5000s ease-in-out 0s;
                            -webkit-text-fill-color: #ffffff !important;
                        }
                    }

                    .password-action {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 42px;

                        .remember-password {
                            display: flex;
                            align-items: center;
                            color: #ffffff;
                            column-gap: 6px;

                            input[type='checkbox'] {
                                width: 25px;
                                height: 25px;
                                border: 2px solid #ffffff;
                                border-radius: 12px;
                                outline: none;
                            }

                            span {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                            }
                        }

                        .forgot-password {
                            display: flex;
                            align-items: center;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.7rem;
                            color: #ffffff;
                            font-style: italic;
                        }
                    }

                    .password-or {
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 42px;
                        color: #ffffff;
                    }

                    .btn-login {
                        width: 100%;
                        height: 55px;
                        background: #0d90c2;
                        border-radius: 50px;
                        outline: none;
                        border-color: transparent;
                        color: #ffffff;
                        font-size: 2rem;
                        line-height: 2.7rem;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
