.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;

    .header {
        height: 100px;
        z-index: 10;
    }

    .header-admin {
        width: 100%;
        background-color: #ccc;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        z-index: 0;

        .left-content {
            width: 300px;
            min-height: 500px;
            border-right: 1px solid rgba(171, 171, 171, 1);
        }

        .right-content {
            width: calc(100% - 300px);
            height: auto;
        }
    }
}
