.header-wrapper {
    width: 100%;
    z-index: 10;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: var(--header-height);
        padding: 10px 24px;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(15px);

        a {
            display: flex;
            align-items: center;

            img {
                width: 80px;
            }
        }

        .to-business {
            background: #25aae1;
            border-radius: 18px;
            padding: 8px 24px;
            color: #ffffff;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .admin-profile {
            display: flex;
            column-gap: 20px;
            align-items: center;
            padding-right: 12px;

            .nav-group {
                display: flex;
                column-gap: 38px;
                position: relative;
                height: 100px;

                // &::after {
                //     content: '';
                //     position: absolute;
                //     border-right: 2px solid #ffffff;
                //     width: 2px;
                //     height: 50px;
                //     top: 50%;
                //     right: -12px;
                //     transform: translateY(-50%);
                // }

                .nav-item {
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    color: #129ff1;
                    position: relative;
                    overflow: hidden;
                    height: 100%;

                    &:hover {
                        color: #3e4345;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        width: 100%;
                        height: 0.3em;
                        background: #25aae1;
                        border-radius: 20px;
                        opacity: 0;
                        transition: opacity 300ms, transform 500ms;
                    }

                    &::after {
                        opacity: 1;
                        transform: translate3d(-100%, 0, 0);
                    }

                    &:hover::after,
                    &:focus::after {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            .language {
                display: flex;
                margin-bottom: 6px;
            }

            .action-btn {
                .btn-login {
                    padding: 4px 16px;
                    background-color: #25aae1;
                    color: #ffffff;
                    border-radius: 8px;
                    transition: 0.3s;
                    border: 1px solid #25aae1;

                    &:hover {
                        cursor: pointer;
                        background-color: #ffffff;
                        color: #25aae1;
                        border: 1px solid #25aae1;
                    }
                }

                .btn-register {
                    padding: 4px 16px;
                    background-color: #25aae1;
                    color: #ffffff;
                    border-radius: 8px;
                    transition: 0.3s;
                    border: 1px solid #25aae1;
                    margin-left: 8px;

                    &:hover {
                        cursor: pointer;
                        background-color: #ffffff;
                        color: #25aae1;
                        border: 1px solid #25aae1;
                    }
                }
            }

            .cart {
                width: 24px;
                height: 24px;
                background-image: url('~/src/assets/images/User/shoppingcart.svg');
                background-size: cover;
                position: relative;
            }

            .active-cart::after {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                top: 0;
                right: 0;
                border-radius: 50%;
                background-color: #ff0000;
            }

            .language-group {
                display: flex;
                column-gap: 2px;
                align-items: center;
                margin-bottom: 4px;

                .vi-language {
                    width: 20px;
                    height: 20px;
                    background-image: url('~/src/assets/images/User/vietnam.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                svg {
                    font-size: 1.2rem;
                    margin-top: -4px;
                }
            }
        }
    }

    .language-result {
        background-color: #ffffff;
        min-width: 32px;
        min-height: 40px;
        margin-left: -1px;
        border: 1px solid #4285f4;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        align-items: center;

        .vi {
            margin-left: 2px;
            width: 20px;
            height: 18px;
            background-image: url('~/src/assets/images/User/vietnam.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .en {
            width: 18px;
            height: 15px;
            background-image: url('~/src/assets/images/User/english.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}